/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 320). 
            
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

/* Base styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0079bf;
    display: grid;
    grid-template-rows: 4rem 3rem auto;
    grid-row-gap: 0.8rem;
}

:focus {
    outline-color: #fa0;
}

/* HEADER */

.header {
    padding: 0 0.8rem;
    background-color: #0067a3;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.header-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-text {
    margin: 0;
    font-family: "Courgette", cursive;
    font-size: 2.2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 2rem;
    transition: color 150ms;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.header-logo-text:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* Lists */

.task-board {
    display: grid;
    grid-auto-columns: 27rem;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
    padding: 0 0.8rem 0.8rem;
    overflow-x: auto;
    height: calc(100vh - 8.6rem);
}

.task-column {
    display: grid;
    grid-template-rows: auto minmax(auto, 1fr) auto;
    background-color: #e2e4e6;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin: 0;
    padding-bottom: 120px;
    position: relative;
}

.task-column-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    padding: 1rem;
    margin: 1rem 0 0;
}

.task-column-items {
    display: grid;
    grid-row-gap: 0.6rem;
    grid-template-rows: repeat(auto-fill, 50px);
    padding: 0 0.6rem 0.5rem;
    list-style: none;
    overflow-y: auto;
}

.task-column-items::-webkit-scrollbar {
    width: 1.6rem;
}

.task-column-items::-webkit-scrollbar-thumb {
    background-color: #c4c9cc;
    border-right: 0.6rem solid #e2e4e6;
}

.task-card {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    background-color: #fff;
    padding: 0.65rem 2rem 0.65rem 0.6rem;
    color: #4d4d4d;
    border-bottom: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.task-card:last-of-type {
    margin-bottom: 0;
}

.task-card:hover {
    background-color: #eee;
}

.form-add-card {
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-add-card textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    box-shadow: none;
    margin-bottom: 4px;
    max-height: 162px;
    min-height: 54px;
    color: #172b4d;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    font-size: 14px;
    outline: none;
}

.form-add-card textarea:focus {
    border: 1px solid #ccc;
}

.form-add-card input[type=submit] {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 4px 0 0;
    padding: 6px 12px;
    text-align: center;
    background-color: #5aac44;
    box-shadow: none;
    border: none;
    color: #fff;
}

.cancel-create-card {
    font-size: 2rem;
    display: inline-block;
    position: relative;
    top: 3px;
    color: #6b778c;
    margin-left: 5px;
    cursor: pointer;
}

.delete-card {
    color: red;
    font-size: 2.5rem;
    position: absolute;
    /*    height: 20px;*/
    top: 3px;
    right: 3px;
    opacity: 0;
    transition: 0.4s;
    line-height: 18px;
    padding: 0 3px;
}

.task-card:hover .delete-card {
    opacity: 1;
}

.delete-card:hover {
    background-color: #e2e4e6;
}

.add-card-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: 400;
    color: #838c91;
    padding: 1rem;
    text-align: left;
    cursor: pointer;
    background: none;
    border: 1px solid transparent;
    border-top: 1px solid #ccc;
    outline: none;
}

.add-card-btn:hover {
    background-color: #cdd2d4;
    color: #4d4d4d;
}

.add-card-btn::after {
    content: '...';
}

.sort-btn {
    position: absolute;
    top: 12px;
    right: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 0 5px;
    font-weight: 400;
    background-color: #cdd2d4;
    color: #4d4d4d; 
}
